
@media (min-width:700px){
    .home-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-gap:20px;
    }
}
@media (min-width:1000px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .topnav a{
        display: block;
        padding: 15px;
    }
    .topnav a.icon {
        display: none;
    }
    header{
        overflow: hidden;
        background-color: rgb(75, 5, 140);
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
}




